$pink: #ff2c55;
$bg: rgba(15, 15, 23, 0.9);

.music-box {
  background-color: $bg;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba($pink, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.music-art-play {
  font-size: 45px;
  color: $pink;
  margin-right: 20px;
  background: rgba($pink, 0.1);
  padding: 15px;
  border-radius: 100%;
  animation: rotate_art 3s linear infinite; // Piringan muter
}

.music-info {
  margin-left: 10px;
}

.music-title {
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 0 0 8px rgba($pink, 0.5);
}

.music-artist {
  font-size: 14px;
  color: $pink;
  margin-bottom: 10px;
}

/* --- ANIMASI VISUALIZER --- */
.visualizer {
  height: 30px;
  align-items: flex-end;
  
  .bar {
    width: 6px;
    background-color: $pink;
    border-radius: 5px;
    min-height: 4px;
    box-shadow: 0 0 10px rgba($pink, 0.4);
  }
}

.b1 { animation: bar_dance 0.6s infinite ease-in-out; }
.b2 { animation: bar_dance 0.9s infinite ease-in-out; }
.b3 { animation: bar_dance 0.5s infinite ease-in-out; }
.b4 { animation: bar_dance 1.1s infinite ease-in-out; }
.b5 { animation: bar_dance 0.7s infinite ease-in-out; }
.b6 { animation: bar_dance 0.4s infinite ease-in-out; }

@keyframes bar_dance {
  0%, 100% { height: 6px; }
  50% { height: 28px; background-color: #ffffff; } // Warna putih pas puncak biar nge-blink
}

@keyframes rotate_art {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
