/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 11px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: transparent;
    border-radius: 0;
    min-height: 24px;
}

#workspaces {
    margin: 0;
    background: alpha(@background, 0.65);
    border-radius: 10px;
    padding: 2px 4px;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 6px;
}

#workspaces button:hover {
    color: @pink;
    transition: none;
    border-bottom: 1px solid @pink;
    padding: 0 8px;
}

#workspaces button.active {
    color: @pink;
    background-color: alpha(@pink, 0.35);
    border: 2px solid @pink;
    padding: 0 9px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: @red;
    padding: 0 9px;
}

#tray,
#bluetooth,
#battery,
#pulseaudio,
#clock {
    color: @foreground;
    margin: 0 3px;
    padding: 0 10px;
    background: alpha(@background, 0.65);
    border-radius: 10px;
}

#bluetooth:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@select, 0.6);
}

#bluetooth {
    color: @yellow;
}

#battery {
    color: @purple;
}

#pulseaudio {
    color: @orange;
}

#clock {
    margin-right: 6px;
    color: @blue;
}

#network {
    color: @green;
    background: alpha(@background, 0.65);
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 3px;
}

#network:hover {
    background-color: alpha(@select, 0.6);
}

#network.disconnected {
    color: @red;
}

#network.linked {
    color: @yellow;
}

#network.ethernet {
    color: @blue;
}


#custom-power {
    margin: 0 3px;
    margin-left: 8px;
    padding: 0 10px;
    background: alpha(@background, 0.65);
    border-radius: 10px;
    color: @pink;
}

#custom-power:hover {
    background-color: alpha(@select, 0.6);
}

#custom-miku {
    background: alpha(@background, 0.65);
    background-image: url("assets/miku.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    min-width: 16px;
    min-height: 16px;
    margin: 0 8px;
    padding: 4px;
    border-radius: 10px;
    opacity: 0.85;
    transition: background-color 0.25s ease, box-shadow 0.25s ease, opacity 0.2s ease, padding 0.2s ease;
    color: transparent;
}

#custom-miku:hover {
    opacity: 1;
    background-color: alpha(@select, 0.6);
}
